<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Location Information
        </div>
        <div class="item">
             <h2>Our Address</h2>
                    <address style="font-size: 100%">
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, Kowloon<br>
		              HONG KONG<br>
		              <i class="icon ion-ios-telephone"></i>&nbsp;:&nbsp; +852 1234 5678<br>
		              <i class="icon ion-printer"></i>&nbsp;:&nbsp; +852 8765 4321<br>
		              <i class="icon ion-email"></i>&nbsp;:&nbsp; 
                        <a href="mailto:confusion@food.net">confusion@food.net</a>
		           </address>
        </div>
        <div class="button-bar">
            <a class="button button-positive icon-left ion-android-call" href="tel:+85212345678">&nbsp;Call</a>
            <a class="button button-calm icon-left ion-social-skype">&nbsp;Skype</a>
            <a class="button button-balanced icon-left ion-email" href="mailto:confusion@food.net">&nbsp;Email</a>
        </div>
  </ion-content>
    
</ion-view>
