<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Submit Comment on Dish</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeComment()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <!-- The form that will be submitted to server -->
      <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
          <div class="list">
	       <div class="form-group">
                 <label for="rating" class="item item-input item-select">
                     <div class="input-label">Rating</div>
                     <select ng-model="comment.rating" ng-options="index for index in ['1','2','3','4','5']"></select>
               </label>                        
            </div> 
              
            <div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                 <label for="author" class="item item-input">
                   <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name" ng-model="comment.author" required>
                   <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your name is required</span>  
               </label>
            </div>
              
	        <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                 <label for="comment" class="item item-input">
                   <textarea class="form-control" id="comment" placeholder="Your comments" name="comments" rows="12" ng-model="comment.comment" required>
                   </textarea>
		          <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Your comment is required</span>
               </label>
            </div>   
            <label class="item">
                <button class="button button-block button-positive" type="submit" ng-disabled="commentForm.$invalid">submit</button>
            </label> 
          </div>
    </form>
  </ion-content>
</ion-modal-view>