<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item" ng-click="addFavorite()">Add Favorites</a>
            <a class="item" ng-click="addComment()">Add Comment</a>    
        </div>
    </ion-content>
</ion-popover-view>