<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <!-- The form that will be submitted to server -->
    <form ng-submit="doLogin()">
      <!-- Display as a lit of item -->
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <!-- In my controller must be a loginData variable for model binding -->
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <!-- In my controller must be a loginData variable for model binding -->
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <!-- This is the button of type submit for sumission of the form -->
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
